@model FoxNetSoft.Plugin.Misc.CMSManager.Models.PageNavigationItemModel
@using FoxNetSoft.Plugin.Misc.CMSManager.Helpers

@{
    var liClass = Model.IsActive ? "active" : "inactive";
    if (Model.Id == Model.CurrentPageId)
    {
        liClass += " last";
    }
}
@if (Model.IsGroup)
{
        <li class="cmspagegroupline @liClass">
            <a href="@Url.RouteUrl("CMSPageDetails", new { SeName = Model.SeName })">
                @Model.Name
                @if (Model.NumberOfPages.HasValue && Model.NumberOfPages > 0)
                {
                    <text> (@(Model.NumberOfPages.Value))</text>
                }
            </a>
            @if (Model.IsActive && Model.SubNavigationItems.Any())
             {
                  <ul class="sublist">
                  @foreach (var navigationItem in Model.SubNavigationItems)
                  {
                      navigationItem.CurrentPageId = Model.CurrentPageId;
                      @await Html.PartialAsync(ResolveViewPathHelper.GetViewPath("CMSPage/_Navigation.Item"), navigationItem)
                  }
                  </ul>
             }
        </li>
 }
 else
 {
    <li class="articleline @(Model.IsActive ? "active" : "inactive")">
        <a href="@Url.RouteUrl("CMSPageDetails", new { SeName = Model.SeName })">@Model.Name</a>
    </li>
 }

