@model FoxNetSoft.Plugin.Misc.CMSManager.Models.Admin.PageModel
@using FoxNetSoft.Plugin.Misc.CMSManager.Models.Admin

    <div class="panel-group">
        @if (Model.Id > 0)
        {
            if (Model.NumberOfAvailableManufacturers > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "pagemanufacturers-grid",
                       UrlRead = new DataUrl("ManufacturerList", "CMSPageAdmin", new RouteValueDictionary { [nameof(Model.PageSearchModel.PageId)] = Model.PageSearchModel.PageId }),
                       UrlDelete = new DataUrl("ManufacturerDelete", "CMSPageAdmin", null),
                       UrlUpdate = new DataUrl("ManufacturerUpdate", "CMSPageAdmin", null),
                       Length = Model.PageSearchModel.PageSize,
                       LengthMenu = Model.PageSearchModel.AvailablePageSizes,
                       ColumnCollection = new List<ColumnProperty>
    {
    new ColumnProperty(nameof(PageManufacturerModel.Published))
    {
    Title = T("Admin.Catalog.Manufacturers.Fields.Published").Text,
      Width = "70",
    ClassName = NopColumnClassDefaults.CenterAll,
    Render = new RenderBoolean()
    },
    new ColumnProperty(nameof(PageManufacturerModel.Manufacturer))
    {
    Title = T("Admin.Catalog.Manufacturers.Fields.Name").Text
    },
                                        new ColumnProperty(nameof(PageManufacturerModel.DisplayOrder))
                                        {
                                            Title = T("Admin.Catalog.Manufacturers.Fields.DisplayOrder").Text,
                                            Width = "70",
                                            ClassName = NopColumnClassDefaults.CenterAll,
                                            Editable = true,
                                            EditType = EditType.Number
                                        },
    new ColumnProperty(nameof(PageManufacturerModel.ManufacturerId))
    {
    Title = T("Admin.Common.View").Text,
    Width = "150",
    ClassName = NopColumnClassDefaults.Button,
    Render = new RenderButtonView(new DataUrl("~/Admin/Manufacturer/Edit/", nameof(PageManufacturerModel.ManufacturerId)))
    },
                                        new ColumnProperty(nameof(PageManufacturerModel.Id))
                                        {
                                            Title = T("Admin.Common.Edit").Text,
                                            Width = "100",
                                            ClassName =  NopColumnClassDefaults.Button,
                                            Render = new RenderButtonsInlineEdit()
                                        },
    new ColumnProperty(nameof(PageManufacturerModel.Id))
    {
    Title = T("Admin.Common.Delete").Text,
    Width = "100",
    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
    ClassName = NopColumnClassDefaults.Button
    }
    }
                   })
                    </div>
                </div>
                <div class="panel panel-default no-margin">
                    <div class="panel-heading">
                        @T("Admin.Common.AddNewRecord")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.AddPageManufacturer.ManufacturerId"/>
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="@Model.AddPageManufacturer.ManufacturerId" asp-items="@Model.AvailableManufacturers"/>
                                <span asp-validation-for="@Model.AddPageManufacturer.ManufacturerId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="button" id="addManufacturer" class="btn btn-primary">@T("Admin.Common.AddNewRecord")</button>
                            </div>
                        </div>
                    </div>
                    <script>
                    $(document).ready(function () {
                        $('#addManufacturer').click(function () {
                            $('#addManufacturer').attr('disabled', true);
                            var postData = {
                                ManufacturerId: $("#@Html.IdFor(model => model.AddPageManufacturer.ManufacturerId)").val(),
                                PageId: @Model.Id
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@Html.Raw(Url.Action("ManufacturerInsert", "CMSPageAdmin"))",
                                data: postData,
                                success: function (data, textStatus, jqXHR) {
                                    if (data.Result) {
                                        //reload grid
                                        updateTable('#pagemanufacturers-grid');

                                        //clear input value
                                        //$("#@Html.IdFor(model => model.AddPageManufacturer.ManufacturerId)").val('');
                                    } else {
                                        //display errors if returned
                                        display_nop_error(data);
                                    }
                                },
                                complete: function (jqXHR, textStatus) {
                                    $('#addManufacturer').attr('disabled', false);
                                }
                            });
                        });
                    });
                    </script>
                </div>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        @T("Admin.FoxNetSoft.CMSManager.Manufacturers.NoManufacturersAvailable")
                    </div>
                </div>
            }
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @T("Admin.FoxNetSoft.CMSManager.Manufacturers.SaveBeforeEdit")
                </div>
            </div>
        }
    </div>
