@model FoxNetSoft.Plugin.Misc.CMSManager.Models.Admin.PageTemplateSearchModel
@using FoxNetSoft.Plugin.Misc.CMSManager.Models.Admin
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = @T("Admin.FoxNetSoft.CMSManager.PageTemplates").Text;

    Html.SetActiveMenuItemSystemName("FoxNetSoft.CMSManager.Templates");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.FoxNetSoft.CMSManager.PageTemplates")
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
{
    Name = "templates-grid",
    UrlRead = new DataUrl("List", "CMSPageTemplate", null),
    UrlUpdate = new DataUrl("PageTemplateUpdate", "CMSPageTemplate", null),
    UrlDelete = new DataUrl("PageTemplateDelete", "CMSPageTemplate", null),

    Length = Model.PageSize,
    LengthMenu = Model.AvailablePageSizes,
    ColumnCollection = new List<ColumnProperty>
    {
        new ColumnProperty(nameof(PageTemplateModel.Name))
        {
            Title = T("Admin.FoxNetSoft.CMSManager.PageTemplates.Name").Text,
            Width = "300",
            Editable = true,
            EditType = EditType.String
        },
        new ColumnProperty(nameof(PageTemplateModel.ViewPath))
        {
            Title = T("Admin.FoxNetSoft.CMSManager.PageTemplates.ViewPath").Text,
            Width = "300",
            Editable = true,
            EditType = EditType.String
        },
        new ColumnProperty(nameof(PageTemplateModel.DisplayOrder))
        {
            Title = T("Admin.FoxNetSoft.CMSManager.PageTemplates.DisplayOrder").Text,
            Width = "100",
            Editable = true,
            EditType = EditType.Number
        },
        new ColumnProperty(nameof(PageTemplateModel.Id))
        {
            Title = T("Admin.Common.Edit").Text,
            Width = "200",
            ClassName =  NopColumnClassDefaults.Button,
            Render = new RenderButtonsInlineEdit()
        },
        new ColumnProperty(nameof(PageTemplateModel.Id))
        {
            Title = T("Admin.Common.Delete").Text,
            Width = "100",
            ClassName =  NopColumnClassDefaults.Button,
            Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
        }
    }
})

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @T("Admin.Common.AddNewRecord")
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.AddPageTemplate.Name"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.AddPageTemplate.Name"/>
                                    <span asp-validation-for="@Model.AddPageTemplate.Name"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.AddPageTemplate.ViewPath"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.AddPageTemplate.ViewPath"/>
                                    <span asp-validation-for="@Model.AddPageTemplate.ViewPath"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.AddPageTemplate.DisplayOrder"/>
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.AddPageTemplate.DisplayOrder"/>
                                    <span asp-validation-for="@Model.AddPageTemplate.DisplayOrder"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="button" id="addPageTemplate" class="btn btn-primary">@T("Admin.Common.AddNewRecord")</button>
                                </div>
                            </div>
                        </div>
                        <script>
                $(document).ready(function () {
                    $('#addPageTemplate').click(function () {
                        $('#addPageTemplate').attr('disabled', true);
                        var postData = {
                            Name: $("#@Html.IdFor(model => model.AddPageTemplate.Name)").val(),
                            ViewPath: $("#@Html.IdFor(model => model.AddPageTemplate.ViewPath)").val(),
                            DisplayOrder: $("#@Html.IdFor(model => model.AddPageTemplate.DisplayOrder)").val()
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@Html.Raw(Url.Action("PageTemplateAdd", "CMSPageTemplate", null))",
                            data: postData,
                            success: function (data, textStatus, jqXHR) {
                                if (data.Result) {
                                    //reload grid
                                    updateTable('#templates-grid');

                                    //clear input value
                                    $("#@Html.IdFor(model => model.AddPageTemplate.Name)").val('');
                                    $("#@Html.IdFor(model => model.AddPageTemplate.ViewPath)").val('');
                                    $("#@Html.IdFor(model => model.AddPageTemplate.DisplayOrder)").val('');

                                } else {
                                    //display errors if returned
                                    display_nop_error(data);
                                }
                            },
                            complete: function (jqXHR, textStatus) {
                                $('#addPageTemplate').attr('disabled', false);
                            }
                        });
                    });
                });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
